{{extend 'layout.html'}}
<!-- include our css file -->
<link rel="stylesheet" type = "text/css" href="../../static/css/schedule.css">

<!-- get a little control panel going -->
<div id="control_panel">
    <!-- have some toggle options -->
    <input id="gaptoggle" type="checkbox"></input><label style="color: white;">Gaps</label><br>

    <input id="eventtoggle" type="checkbox"></input><label style="color: white;">All Events</label><br>

<!-- make toggle options for each user in the group -->
{{userNum = 0}}
{{for user in users:}}
    <!-- each user will have a unique css class so that we can hide/show that class with javascript later -->
    {{user_toggle_class = "events_of_user%d" % userNum}}
    <input class="{{=user_toggle_class}}" type="checkbox" value="{{=user_toggle_class}}"></input>
    <label style="color: white;">{{=list_of_usernames[userNum][0].first_name.title()}}</label><br>
    {{userNum += 1}}
{{pass}}
</div>

<!-- display name of this group -->
<h1>{{=group.name.title()}}</h1>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#gapsModal">Gap Preferences</button>

<!-- python module for all date related things -->
{{import datetime}}
<!-- outer div to contain all of the calendar tiles -->
<div class="whole_calendar">

<!-- for the next 14 days (2 weeks) -->
{{for i in range(0,14):}}

<!-- css background will actually show the tile image -->
<a href="./add"><div class="calendar_tile">
    <!-- have the weekday and date for this calendar day displayed at the top of the tile -->
    <!-- links to the view of the days gaps -->
    <a href="../group_day/{{=group.id}}/{{=(date + datetime.timedelta(days=i)).strftime('%m%d%Y')}}">
        {{=weekdays[(date + datetime.timedelta(days=i)).weekday()]}}
        {{=(date + datetime.timedelta(days=i)).strftime('%m/%d/%Y')}}
    </a>
    
    <!-- keep track of which user's events we are talking about -->
    {{userNum = 0}}
    <!-- gotta go through our 2d list of user events -->
    {{for one_users_events in list_of_events:}}
        {{for event in one_users_events:}}
            <!-- include which user number user this and put it in their css class
                 so they can have a unique color for their events -->
            {{event_class = "event event%d" % userNum}}
            <!-- does this user even have an event on this day? -->
            {{if (event.start_time.date() == date + datetime.timedelta(days=i)):}}
                <p class="{{=event_class}}">
                {{=event.description}}<br>
                </p>
            {{pass}}
        {{pass}}
        <!-- on to the next user's set of events -->
        {{userNum += 1}}
    {{pass}}


    <!-- check if there is a gap on this day and, if so, display it -->
    {{for gap in gaps:}}
        <!-- gap on this day? -->
        {{if (gap.start_time.date() == date + datetime.timedelta(days=i)):}}
            <!-- let's see how big this gap is -->
            {{start = gap.start_time.hour}}
            {{end = gap.end_time.hour}}
            <!-- gap might have been small so give it a small box -->
            {{if ((abs(end - start)) < 3):}}
                <p class="gap">
                {{=gap.start_time.time()}} to {{=gap.end_time.time()}}
                </p>
            <!-- gap must have been pretty big, give it a big box -->
            {{else:}}
                <p class="big_gap">
                {{=gap.start_time.time()}} to {{=gap.end_time.time()}}
                </p>
            {{pass}}
        {{pass}}
    {{pass}}

<!-- end of this calendar tile, on to the next day -->
</div></a> 
{{pass}}
    
<!-- plus minus sign to fill up the last tile slot -->
<a href="./add"><div class="addevent"></div></a>
    
</div> <!-- end of whole calendar -->

<div style="color: white">
 {{=gaps}}   
</div>


<div id="gapsModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gap Preferences</h4>
      </div>
      <div class="modal-body">
        <div style="width:200px; display:inline">
{{=form}}
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>
    
    var gapsShowing = false;
    var eventsShowing = false;
    var currentlyHidden = [];
    
    // start with each users' event class in the hidden list
    for (var i = 0; i < 12; i++) {
        class_to_hide = ".event" + String(i);
        currentlyHidden.push(class_to_hide);
    }
    
    //start with all gaps and events hidden
    $(".gap").hide();
    $(".big_gap").hide();
    $(".event").hide();
    
    //someone clicked on the toggle gaps button
    $("#gaptoggle").click( function() {
        //should we hide or show all gaps?
        if (gapsShowing) {
            //hide
            $(".gap").hide();
            $(".big_gap").hide();
            gapsShowing = false;
        } else {
            //show
            $(".gap").show();
            $(".big_gap").show();
            gapsShowing = true;
        }
    })

    // someone hath toggled the all events button
    $("#eventtoggle").click( function() {
        // should we hide or show?
        if (eventsShowing) {
            //hide
            $(".event").hide();
            eventsShowing = false;
        } else {
            //show
            $(".event").show();
            eventsShowing = true;
        }
    })
    
    // someone has clicked any of the input checkboxes
    $("input").click( function () {
        // get the css class of whichever checkbox was clicked
        // this.value[this.value.length - 1] is just the last character in the class
        // of whichever checkbox was clicked
        // so for the first run through it will just be '0' taken from 'events_of_user0'
        users_event_class = ".event" + this.value[this.value.length - 1];
        // should we hide or show these events?
        if ($.inArray(users_event_class, currentlyHidden) > -1) {
            //show
            $(users_event_class).show();
            //remove from hidden list
            currentlyHidden.splice( $.inArray(users_event_class, currentlyHidden), 1 );
        }
        else {
            //hide
            $(users_event_class).hide();
            //add to hidden list
            currentlyHidden.push(users_event_class);
        };
    });
    
</script>
