{{extend 'layout.html'}}
<!-- include our css file -->
<link rel="stylesheet" type = "text/css" href="../static/css/schedule.css">
<h1>Group Schedule</h1>

{{import datetime}}
<!-- outer div to contain all of the calendar tiles -->
<div class="whole_calendar">

<!-- for the next 14 days (2 weeks) -->
{{for i in range(0,14):}}

<!-- css background will actually show the tile image -->
<a href="./add"><div class="calendar_tile">
    <!-- have the weekday and date for this calendar day displayed at the top of the tile -->
    <p class="date">
        {{=weekdays[(date + datetime.timedelta(days=i)).weekday()]}}
        {{=date + datetime.timedelta(days=i)}}
    </p>
    
    <!-- check if there is a gap on this day and, if so, display it -->
    {{for gap in gaps:}}
    {{if (gap.start_time.date() == date + datetime.timedelta(days=i)):}}
    <p class="gap">
    {{=gap.start_time.time()}} to {{=gap.end_time.time()}}
    </p>
    {{pass}}
    {{pass}}
    

</div></a>
{{pass}}
    
<!-- plus minus sign to fill up the last tile slot -->
<a href="./add"><div class="addevent"></div></a>
    
</div> <!-- end of outer calendar div -->

<div style="color: white">
{{=gaps}}   
</div>
