{{from datetime import timedelta}}
{{import math}})
{{extend 'layout.html'}}

<head>
	<link rel="stylesheet" href="{{=URL('static', 'css/day.css')}}">
</head>


{{date_string = "%s-%s-%s" %(date[0:2],date[2:4],date[4:])}}

<div id = "date"> 
{{=date_string}}
</div>

<div id = "calendar_day">
 {{for gap in gaps:}}

 	{{time_length = gap[1] - gap[0]}}
 	{{length = int(time_length.total_seconds()/120)}}
 	{{offset = int((gap[0].hour*60 + gap[0].minute)/2)+20}}
 	{{style = "height:%d; top:%d;" %(length,offset)}}

 	<div id="gap" style= "{{=style}}">
 	</div>
 {{pass}}
</div>