{{extend 'layout.html'}}
<!-- include our css file -->
<link rel="stylesheet" type = "text/css" href="../../static/css/schedule.css">



<input id="gaptoggle" type="checkbox"></input><label style="color: white;">Gaps</label><br>

<input id="eventtoggle" type="checkbox"></input><label style="color: white;">Events</label>

<h1>Group Schedule</h1>

{{import datetime}}
<!-- outer div to contain all of the calendar tiles -->
<div class="whole_calendar">

<!-- for the next 14 days (2 weeks) -->
{{for i in range(0,14):}}

<!-- css background will actually show the tile image -->
<a href="./add"><div class="calendar_tile">
    <!-- have the weekday and date for this calendar day displayed at the top of the tile -->
    <p class="date">
        {{=weekdays[(date + datetime.timedelta(days=i)).weekday()]}}
        {{=(date + datetime.timedelta(days=i)).strftime('%m/%d/%Y')}}
    </p>
    {{userNum = 0}}
    {{colors = ["color: blue;", "color: green;", "color: orange;", "color: purple;", "color: red;"]}}
    {{for one_users_events in list_of_events:}}
        {{for event in one_users_events:}}
            {{event_class = "event event%d" % userNum}}
            {{if (event.start_time.date() == date + datetime.timedelta(days=i)):}}
                <p class="{{=event_class}}">
                {{=event.description}}<br>
                </p>
            {{pass}}
        {{pass}}
        {{userNum += 1}}
    {{pass}}



    <!-- check if there is a gap on this day and, if so, display it -->
    {{for gap in gaps:}}
        {{if (gap.start_time.date() == date + datetime.timedelta(days=i)):}}
            {{start = gap.start_time.hour}}
            {{end = gap.end_time.hour}}
            {{if ((abs(end - start)) < 3):}}
                <p class="gap">
                {{=gap.start_time.time()}} to {{=gap.end_time.time()}}
                </p>
            {{else:}}
                <p class="big_gap">
                {{=gap.start_time.time()}} to {{=gap.end_time.time()}}
                </p>
            {{pass}}
        {{pass}}
    {{pass}}


</div></a>
{{pass}}
    
<!-- plus minus sign to fill up the last tile slot -->
<a href="./add"><div class="addevent"></div></a>
    
</div> <!-- end of outer calendar div -->


<script>
    var gapsShowing = false;
    $(".gap").hide();
    $("#gaptoggle").click( function() {
        if (gapsShowing) {
            $(".gap").hide();
            gapsShowing = false;
        } else {
            $(".gap").show();
            gapsShowing = true;
        }
    })

    var eventsShowing = false;
    $(".event").hide();
    $("#eventtoggle").click( function() {
        if (eventsShowing) {
            $(".event").hide();
            eventsShowing = false;
        } else {
            $(".event").show();
            eventsShowing = true;
        }
    })</script>
