{{from datetime import timedelta}}
{{import math}})
{{extend 'layout.html'}}

<head>
	<link rel="stylesheet" href="{{=URL('static', 'css/day.css')}}">
</head>


<p> hello</p>

<div id = "calendar_day">
 {{for gap in gaps:}}

 	{{time_length = gap[1] - gap[0]}}
 	{{length = int(time_length.total_seconds()/60)}}
 	{{offset = gap[0].hour*60 + gap[0].minute}}
 	{{style = "height:%d; position: absolute; top:%d;" %(length,offset)}}

 	<div id="gap" style= "{{=style}}">
 		{{=length}} and {{=offset}}
 	</div>
 {{pass}}
</div>

 {{=gaps}}