{{extend 'layout.html'}}
<!-- include our css file -->
<link rel="stylesheet" type = "text/css" href="../static/css/schedule.css">
<h1>Your Schedule</h1>

{{import datetime}}

<!-- outer div to contain all of the calendar tiles -->
<div class="whole_calendar">

<!-- for the next 14 days (2 weeks) -->
{{for i in range(0,14):}}

<!-- css background will actually show the tile image -->
<a href="./add"><div class="calendar_tile">
    <!-- have the weekday and date for this calendar day displayed at the top of the tile -->
    <p class="date">
        {{=weekdays[(date + datetime.timedelta(days=i)).weekday()]}}
        {{=date + datetime.timedelta(days=i)}}
    </p>
    <!-- check all of the user's events for this day and display any that are found -->
    {{for event in events:}}
    {{if (event.start_time.date() == date + datetime.timedelta(days=i)):}}
    <p class="event">
    {{=event.description}}<br>
    </p>
    {{pass}}
    {{pass}}

</div></a>
{{pass}}
    
<!-- plus minus sign to fill up the last tile slot -->
<a href="./add"><div class="addevent"></div></a>
    
</div> <!-- end of outer calendar div -->

{{=events}}
