body{
	background-image: url('http://wallpapercave.com/wp/fcaM4Mo.jpg');
	color: white;
}

h1 {
	text-align: center;
}

/*this is the form box*/
#groups_name{
	width: 300px;
	color: black;
	background: white;
	border: 1px solid black;
}

a.delete{
	 border: 2px solid black;
	 background-color: black;
	 color: white;
	 padding: 5px;
}

li{
	padding: 6px;
}

.editName{

}

footer{
	display: none;
}