html {
  min-height: 100%;
  
}

body {
  height: 800px;
  background-image: url('../images/gapSort_background.jpg');
}
#edit {
    width: 250px;
    height: 250px;
    border: solid;
    border-width: 5px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url("../images/edit_schedule.png");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-right: -4px;
}

#view_schedule {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: solid;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url("../images/view_schedule.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
    color: white;
    font-size: 30px;
    text-align: center;
    border-width: 5px;
}

#my_groups {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: solid;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/my_groups.jpg');
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    text-align: center;
    border-width: 5px;
    margin-right: -4px;
}

#create_group {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: solid;
    /*background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/plus_minus-.png');*/
    background-image: url('../images/create_group_icon.png');
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    text-align: center;
    border-width: 5px;
}

#quadimage {
    position: absolute;
    margin: auto;
    top: 500px; left: 0; bottom: 0; right: 0;
    height: 507px;
    width: 506px;
    border: solid;
    border-radius: 5px;
}

a:hover {
    opacity: .8;
}

footer{
    display: none;
}
