.edit{
	border: 2px solid black;
	 background-color: black;
	 color: white;
	 padding: 5px;
}

h1{
	margin: 200px
	text-align: right;
}

body{
	background-image: url('../images/gapSort_background.jpg');
	color: white;
}

footer{
	display: none;
}