body {
    background-image: url('../images/gapSort_background.jpg');
}

#single_day {
    width:400px;
    height:400px;
    border-color: black;
}

#control_panel {
    position: fixed;
    right: 0px;
    background-color:rgba(0,0,0,0.5);
    z-index: 100;
    padding: 10px 10px 10px 10px;
}

h1 {
    color: white;
}

.whole_calendar {
    border-style: solid;
    border-radius: 4px;
    width: 1004px;
    margin-bottom: 100px;
}

.calendar_tile {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('../images/tile.png');
    margin-right: -4px;
}

.addevent {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/plus_minus-.png');
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: -4px;
}

.date {
    color: white;
    margin-top: 0px;
}

.event {
    margin-top: 10px;
    margin-bottom: 10px;
}
.event0 {
    height: 10px;
    color: red;
}

.event1 {
    height: 10px;
    color: green;
}

.event2 {
    height: 10px;
    color: purple;
}

.event3 {
    height: 10px;
    color: pink;
}

.event4 {
    height: 10px;
    color: orange;
}

.event5 {
    height: 10px;
    color: orange;
}

.event6 {
    height: 10px;
    color: Navy;
}

.event7 {
    height: 10px;
    color: Aqua;
}

.event8 {
    height: 10px;
    color: Teal;
}

.event9 {
    height: 10px;
    color: Olive;
}

.event10 {
    height: 10px;
    color: Lime;
}

.event11 {
    height: 10px;
    color: Maroon;
}

.events_of_user0 {
    display: inline;
}

.events_of_user1 {
    display: inline;
}

.events_of_user2 {
    display: inline;
}

.events_of_user3 {
    display: inline;
}

.events_of_user4 {
    display: inline;
}

.events_of_user5 {
    display: inline;
}

.events_of_user6 {
    display: inline;
}

.events_of_user7 {
    display: inline;
}

.events_of_user8 {
    display: inline;
}

.events_of_user9 {
    display: inline;
}

.events_of_user10 {
    display: inline;
}

.events_of_user11 {
    display: inline;
}



.gap {
    height: 20px;
    color: #003399;
    background-color: #ccffcc;
    margin-top: 10px;
}

.big_gap {
    height: 40px;
    color: #003399;
    background-color: #ccffcc;
    margin-top: 10px;
}

a:hover {
    opacity: .95;
}
