body {
    background-image: url('http://wallpapercave.com/wp/fcaM4Mo.jpg');
}

h1 {
    color: white;
}

.whole_calendar {
    border-style: solid;
    border-radius: 4px;
    width: 1004px;
    margin-bottom: 100px;
}

.calendar_tile {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('../images/tile.png');
    margin-right: -4px;
}

.addevent {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/plus_minus-.png');
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: -4px;
}

.date {
    color: white;
    margin-top: 0px;
}

.event0 {
    height: 10px;
    color: red;
}

.event1 {
    height: 10px;
    color: green;
}

.event2 {
    height: 10px;
    color: purple;
}

.event3 {
    height: 10px;
    color: pink;
}

.event4 {
    height: 10px;
    color: orange;
}

.event5 {
    height: 10px;
    color: orange;
}

.event6 {
    height: 10px;
    color: Navy;
}

.event7 {
    height: 10px;
    color: Aqua;
}

.event8 {
    height: 10px;
    color: Teal;
}

.event9 {
    height: 10px;
    color: Olive;
}

.event10 {
    height: 10px;
    color: Lime;
}

.event11 {
    height: 10px;
    color: Maroon;
}




.gap {
    height: 20px;
    color: #003399;
    background-color: #ccffcc;
}

.big_gap {
    height: 40px;
    color: #003399;
    background-color: #ccffcc;
}

a:hover {
    opacity: .95;
}
