body {
    background-image: url('http://wallpapercave.com/wp/fcaM4Mo.jpg');
}

h1 {
    color: white;
}

.whole_calendar {
    border-style: solid;
    border-radius: 4px;
    width: 1004px;
    margin-bottom: 100px;
}

.calendar_tile {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('../images/tile.png');
    margin-right: -4px;
}

.addevent {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/plus_minus-.png');
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: -4px;
}

.date {
    color: white;
    margin-top: 0px;
}

.event {
    height: 10px;
    color: red;
}

.gap {
    height: 10px;
    color: blue;
}

a:hover {
    opacity: .95;
}
